QMainWindow {
    background-color: rgb(243, 243, 243);
}

QPushButton {
    background-color: rgb(255, 215, 195);
    border: none;
    text-decoration: none;
    border-radius: 10px;
    color: red;
    font-size: 16px;
}


QPushButton:pressed {
    background-color: #388e3c;
}


QLineEdit:focus {
    border: 1px solid #66afe9;
    background-color: #e8f4fc;
}
