QMainWindow {
    background-color: rgb(243, 243, 243);
}

QPushButton {
    background-color: rgb(255, 215, 195);
    border: none;
    color: red;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 10px;
}


QPushButton:pressed {
    background-color: #388e3c;
}


QLineEdit:focus {
    border: 1px solid #66afe9;
    background-color: #e8f4fc;
}
